<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node CRUD application</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  </head>
  <body ng-app='myApp'>
    <p>Hi there </p>
    <form action="/create" method="post">
      <input type="text" placeholder="name" name="name">
      <input type="text" placeholder="age" name="age">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
